<main class="contenido-main-usuarioAdmin">
    {{#username}}
        <h2 class="bienvenida-admin">Bienvenido/a Admin {{username}}!</h2>
    {{/username}}

    <table class="tabla-estadisticas">
        <thead>
        <tr>
            <th class="titulos-administrador">Estadística</th>
            <th class="titulos-administrador">Cantidad</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="subtitulos-administrador">Cantidad de Jugadores</td>
            <td class="cantidad-administrador">{{cantidadJugadores}}</td>
        </tr>
        <tr>
            <td class="subtitulos-administrador" >Cantidad de Partidas Jugadas</td>
            <td class="cantidad-administrador">{{cantidadPartidas}}</td>
        </tr>
        <tr>
            <td class="subtitulos-administrador">Cantidad de Preguntas Activas</td>
            <td class="cantidad-administrador">{{cantidadPreguntasActivas}}</td>
        </tr>
        <tr>
            <td class="subtitulos-administrador">Cantidad de Preguntas Creadas</td>
            <td class="cantidad-administrador">{{cantidadPreguntasCreadas}}</td>
        </tr>
        <tr>
            <td class="subtitulos-administrador">Cantidad de Respuestas Correctas por Usuario</td>
            <td class="cantidad-administrador">{{cantidadPreguntasCorrectasPorUsuario}}%</td>
        </tr>
        </tbody>
    </table>
</main>
