
<main class="contenido-main-lobby">
{{#nombreUsuario}}
     <h2 class="bienvenida-lobby">Bienvenido/a {{nombreUsuario}}!</h2>
{{/nombreUsuario}}

    <div class="botones-lobby">
        <div class="botones-lobby-child1">
            <p class="boton-puntaje">Puntaje Total: {{puntajeTotal}}</p>
        </div>

        <div class="botones-lobby-child2">
            <form action="/usuario/showPerfil" method="POST" class="boton-perfil">
                <button class="boton-lobby" type="submit">Perfil</button>
            </form>
            <form action="/partida/crearPartida" method="POST" class="boton-nueva-partida">
                <button class="boton-lobby boton-nueva-partida" type="submit">Nueva partida</button>
            </form>
            <form  action="/usuario/showRankingUsuarios" method="post" enctype="multipart/form-data" >
                <button class="boton-lobby">Ranking y partidas</button> <br>
            </form>
        </div>

        <div class="botones-lobby-child3">
        <button class="boton-lobby">Crear pregunta</button>
        </div>
    </div>
</main>
