
    <h1>Bienvenido/a {{user}}!</h1>
    <form action="/usuario/logout" method="POST">
        <input type="submit" value="Cerrar sesión">
    </form>

  <a href="/usuario/showPerfil"> <input type="button" value= "Perfil"> </a>


