<form action="/pregunta/modificarPreguntaReportada" method="POST" class="form-crear-pregunta">
   {{#pregunta}}
    <input type="hidden" name="idPregunta" value="{{idPregunta}}">

    <label for="consigna">Consigna:<span>*</span></label>
    <input type="text" name="consigna" id="consigna" value="{{descripcion}}" required>

    <label for="categoria">Categoria:<span>*</span></label>
    <select name="categoria" id="categoria" required>
        <option value="" disabled>Selecciona una categoria</option>
        {{#categorias}}
            <option value="{{id}}" {{#selected}}{{categoria}}{{/selected}}>{{nombre}}</option>
        {{/categorias}}
    </select>
   {{/pregunta}}
    {{#pregunta.respuestas}}
        <label for="respuesta{{@index}}">Respuesta {{@index}}:<span>*</span></label>
        <div class="respuesta-container">
            <input type="text" name="respuesta{{@index}}" id="respuesta{{@index}}" value="{{textoRespuesta}}" required>
            <input type="radio" name="correcta" value="{{@index}}" {{#esCorrecta}}checked{{/esCorrecta}}>
        </div>
    {{/pregunta.respuestas}}

    <input type="submit" value="Modificar pregunta">
    <a href="/pregunta/showPreguntasReportadas"><input class="volver" type="button" value="Volver"></a>
</form>
