<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Nueva Partida</title>
    <link rel="stylesheet" href="/public/estilosPartida.css">
</head>
<body>
<div class="contenedor-partida">
    <form method="post" action="/partida/validarRespuesta" class="partida-form">
        {{#preguntasYRespuestas}}
            <h3 style="background-color: {{color}};">{{descripcion}} | Categoría: {{categoria}}</h3>
            <br>
            <ol style="list-style-type: upper-alpha;">
                {{#respuestas}}
                    <li class="form-lista">
                        <input type="radio" name="respuesta" value="{{idRespuesta}}" id="respuesta_{{idRespuesta}}">
                        <label for="respuesta_{{idRespuesta}}" >{{textoRespuesta}}</label>

                    </li>
                {{/respuestas}}
            </ol>
        {{/preguntasYRespuestas}}

        {{^preguntasYRespuestas}}
            <p>No hay preguntas disponibles.</p>
        {{/preguntasYRespuestas}}

    </form>

</div>
</body>
</html>
