
{{#preguntasYRespuestas}}
<div class="contenedor-partida"  style="background-color: {{color}};">
    <form method="post" action="/partida/validarRespuesta" class="partida-form" >
    <span id="tiempo">Tiempo restante: <span id="tiempo-restante">{{tiempo_restante}}</span> segundos</span>
            <p>Dificultad: {{dificultad}}</p>
            <h3 style="background-color: {{color}};">{{descripcion}} | Categoría: {{categoria}}</h3>
            <br>
            <ol style="list-style-type: upper-alpha; ">
                {{#respuestas}}
                    <li class="form-lista">
                        <input type="radio" name="respuesta" value="{{idRespuesta}}" id="respuesta_{{idRespuesta}}">
                        <label for="respuesta_{{idRespuesta}}" id="label_{{idRespuesta}}" >{{textoRespuesta}}</label>

                    </li>
                {{/respuestas}}
            </ol>
        {{/preguntasYRespuestas}}

        {{^preguntasYRespuestas}}
            <p>No hay preguntas disponibles.</p>
        {{/preguntasYRespuestas}}

    </form>

    <a href="/pregunta/showReporte"><button>Reportar Pregunta</button></a>

</div>