
<form action="/usuario/logout" method="POST">
    <input type="submit" value="Cerrar sesión">
</form>

<a href="/usuario/showLobby"><input type="button" value="Volver"></a>

{{#usuario}}

<p> Nombre Completo: {{nombreCompleto}} </p>
<p> Nombre de Usuario: {{nombreUsuario}} </p>
<p> Mail: {{mail}} </p>
<p> Fecha de Nacimiento: {{fechaNacimiento}} </p>

{{/usuario}}

<a href="/usuario/showEditarPerfil"><input type="button" value="Editar Perfil"></a>


