
<link rel="stylesheet" href="/public/styles.css">

<div class="botonesPerfil">
<a href="/usuario/showLobby"><input class="volver" type="button" value="Volver"></a>
<form  action="/usuario/logout" method="POST">
    <input class= "cerrarSesionBoton" type="submit" value="Cerrar sesión">
</form>

</div>

{{#usuario}}
<div class="h2-perfil">
    <h2>{{nombreUsuario}}</h2>
</div>

<div class="datosPerfil">
<p> Nombre Completo: {{nombreCompleto}} </p>
<p> Nombre de Usuario: {{nombreUsuario}} </p>
<p> Mail: {{mail}} </p>
<p> Fecha de Nacimiento: {{fechaNacimiento}} </p>
</div>

{{/usuario}}

<a href="/usuario/showEditarPerfil"><input class="editarperfilboton" type="button" value="Editar Perfil"></a>


