
<form action="/usuario/logout" method="POST">
    <input type="submit" value="Cerrar sesión">
</form>

<!-- Botón para volver al lobby -->
<a href="/usuario/showLobby"><input type="button" value="Volver"></a>

{{#cambios}}
     <p> {{cambios}} </p>
{{/cambios}}

{{#usuario}}
    <form action="/usuario/actualizar" method="post" enctype="multipart/form-data">
        <label for="nombreCompleto">Nombre Completo:</label>
        <input type="text" id="nombreCompleto" name="nombreCompleto" value="{{nombreCompleto}}" required>

        <label for="nombreUsuario">Nombre usuario:</label>
        <input type="text" id="nombreUsuario" name="nombreUsuario" value="{{nombreUsuario}}" required>

        <label for="mail">Mail:</label>
        <input type="email" id="mail" name="mail" value="{{mail}}" required>

        <label for="fechaNacimiento">Fecha de Nacimiento:</label>
        <input type="date" id="fechaNacimiento" name="fechaNacimiento" value="{{fechaNacimiento}}" required>

        <label for="sex">Sexo:</label>
           <select name="sex" id="sex" >
           <option value="masculino">Masculino</option>
           <option value="femenino">Femenino</option>
           <option value="decirlo">Prefiero no decirlo</option>

        <label for="foto">Foto de Perfil:</label>
        <input type="file" id="foto" name="foto">
        
        <label for="password">Contraseña:</label>
        <input type="password" id="contraseña" name="password">

        <button type="submit">Guardar Cambios</button>
    </form>

{{/usuario}}

