<h1 class="titulo-reportadas">Preguntas Reportadas</h1>

<div class="contenedor-preguntas-reportadas">
    {{#preguntasReportadas}}

        {{/preguntasReportadas}}


    {{^preguntasReportadas}}
            <p>Aún no hay preguntas reportadas</p>
    {{/preguntasReportadas}}

</div>