<h1 class="titulo-reportadas">Preguntas Reportadas</h1><br>

<div class="contenedor-preguntas-reportadas">
    {{#preguntasReportadas}}
    <table border="1">
        <thead>
        <tr>
            <th class="preguntaRespuesta-sugerida">Pregunta</th>
            <th class="preguntaRespuesta-sugerida">Usuario</th>
            <th class="preguntaRespuesta-sugerida">Motivo</th>
            <th class="preguntaRespuesta-sugerida">Acción</th>
        </tr>
        </thead>
    <tbody>

    <tr>

        <td>{{textoPregunta}}</td>
        <td>{{nombreUsuario}}</td>
        <td>{{motivo}}</td>
        <td>
            <form method="post" action="/pregunta/aprobarPreguntaReportada">
                <input type="hidden" name="idReporte" value="{{idReporte}}">
                <button class="aprobar">Aprobar</button>
            </form>

            <form method="post" action="/pregunta/rechazarPreguntaReportada">
                <input type="hidden" name="idReporte" value="{{idReporte}}">
                <button class="rechazar">Rechazar</button>
            </form>

        </td>
    </tr>
    {{/preguntasReportadas}}
    {{^preguntasReportadas}}
    <p>Aún no hay preguntas reportadas</p>
    {{/preguntasReportadas}}
</tbody>
</table>

</div>

<a href="/usuario/showVistaEditor"><input class="volver" type="button" value="Volver"></a>