<a href="/usuario/showLobby"><input class="volver" type="button" value="Volver"></a>
<link rel="stylesheet" href="/public/styles.css">

{{#ranking}}

    <form action="/usuario/showPerfilUsuario" method="POST" class="form-ranking">
        <input type="hidden" name="nombreUsuario" value="{{nombreUsuario}}">
        <button type="submit" >{{nombreUsuario}}</button>
        <p>{{posicion}}</p>



    </form>
    <p> {{puntajeMaximo}} </p>

{{/ranking}}


