<main>
<a href="/usuario/showLobby"><input class="volver" type="button" value="Volver"></a>

<div class="contenido-ranking-resumenPartidas">
<div class="contenido-ranking">
    <h2 class="ranking-titulo">Ranking de Jugadores</h2>
    <div class="ranking-contenedor">
        <img src="/public/images/estrellas.png" style="width: 160px" alt="Imagen estrella">
        {{#ranking}}
            <div class="ranking-form">

                <p class="ranking-posicion">{{posicion}}</p>
                <input type="hidden" name="nombreUsuario" value="{{nombreUsuario}}">
                <a href="/usuario/showPerfilUsuario?usuario={{nombreUsuario}}" class="ranking-nombre-usuario">{{nombreUsuario}}</a>
            </div>
            <p class="ranking-puntaje">{{puntajeMaximo}} puntos</p>
        {{/ranking}}
        {{^ranking}}
            <p>Aún no hay ranking disponible</p>
        {{/ranking}}
    </div>
</div>

    <div class="partidas-ranking">
    <h3 class="h3-titulo-patidasJugadas-ranking">Partidas jugadas</h3><br>
    <div class="resumen-partidas">

        <ul>
            {{#partidas}}
                <li>Partida {{indice}} - Puntaje {{puntaje}}</li><br>
            {{/partidas}}
            {{^partidas}}
                <p>Aún no hay partidas disponibles</p>
            {{/partidas}}
        </ul>
    </div>
    </div>
    </div>
</main>