

<h2>Crear Cuenta</h2>

<!-- Mostrar el mensaje de error si existe -->
{{#error_message}}
    <p class="error">{{error_message}}</p>
{{/error_message}}


<form id="form-registro" action="/usuario/registrarUsuario" enctype="multipart/form-data" method="post">
    <label for="name">Nombre completo:</label>
    <input type="text" name="name" id="name" >

    <label for="year">Fecha de Nacimiento:</label>
    <input type="date" name="date" id="date" >

    <label for="sex">Sexo:</label>
    <select name="sex" id="sex" >
    <option value="" disabled selected>Selecciona una opción</option>
    <option value="masculino">Masculino</option>
    <option value="femenino">Femenino</option>
    <option value="decirlo">Prefiero no decirlo</option>
    </select>

    <div id="map" style="width: 500px; height: 300px;"></div>
    <input type="hidden" name="pais" id="pais">
    <input type="hidden" name="ciudad" id="ciudad">

    <label for="mail">Email:</label>
    <input type="email" name="mail" id="mail" >

    <label for="password">Contraseña:</label>
    <input type="password" name="password" id="password" >

    <label for="username">Nombre de Usuario:</label>
    <input type="text" name="username" id="username" >

    <label for="foto">Foto:</label>
    <input type="file" name="foto" id="foto">

    <input type="submit" value="Crear cuenta">


</form>

