
<h2 class="tituloReportarPregunta">Reportar Pregunta</h2>

<form class="formReportarPregunta" action="/pregunta/guardarReporte" method="post">
    <input type="hidden" name="idPregunta" value="{{idPregunta}}">
    <label class="motivoDeReporte" for="motivo">Motivo del reporte:</label>
    <textarea class="espacioMotivoReporte" name="motivo" id="motivo" value="motivo" required></textarea>
    <button class="botonEnviarReporte" type="submit">Enviar Reporte</button>
</form>
