
<h2>Reportar Pregunta</h2>

<form action="/pregunta/guardarReporte" method="post">
    <input type="hidden" name="idPregunta" value="{{idPregunta}}">
    <label for="motivo">Motivo del reporte:</label>
    <textarea name="motivo" id="motivo" value="motivo" required></textarea>
    <button type="submit">Enviar Reporte</button>
</form>
