<main class="contenido-main-usuarioPerfil">
    <form action="/usuario/showRankingUsuarios" method="POST">
        <input type="hidden" name="nombreUsuario" value="{{nombreUsuario}}">
        <input class="volver" type="submit" value="Volver">
    </form>
    <div class="perfil-usuario">
        {{#perfil}}
            <div class="datos-usuario1">
                <h2 class="nombre-usuarioPerfil-h2">{{nombreUsuario}}</h2>
                <br>
                <img class="img-foto-usuarioPerfil" alt="Imagen perfil" src="/public/images/{{foto}}">
                <p class="puntaje-perfil">Puntaje máximo alcanzado: {{puntajeMaximo}}</p>
            </div>

            <div class="datos-usuario3">
                <div class="du-contenedor">
                    <p class="texto-dato-perfil"> Nombre Completo: {{nombreCompleto}} </p>
                    <p class="texto-dato-perfil">Mail: {{mail}}</p>
                    <p class="texto-dato-perfil"> Fecha de Nacimiento: {{fechaNacimiento}} </p>
                </div>
                <div class="resumen-partidas">
                    <h3 class="h3-titulo-patidasJugadas">Partidas jugadas</h3><br>
                    <ul>
                        {{#partidas}}
                            <li class="partidasPerfil">Partida {{indice}} - Puntaje {{puntaje}}</li><br>
                        {{/partidas}}
                    </ul>
                </div>
            </div>

            <div class="datos-usuario2">
                <div class="QR-usuarioPerfil">
                    <div class="QR-perfil"><img src="{{qr_url}}" alt="QR para el perfil de {{nombreUsuario}}"></div>
                </div>

                <div class="mapa-usuarioPerfil">
                    <div class="mapa-perfil" id="map" class="mapa" data-lat="{{latitud}}" data-long="{{longitud}}"></div>
                </div>
            </div>
        {{/perfil}}
    </div>

</main>