<main class="contenido-main-usuarioPerfil">
<a href="/usuario/showRankingUsuarios"><input class="volver" type="button" value="Volver"></a>
<link rel="stylesheet" href="/public/styles.css">

<div class="perfil-usuario">
    <div class="datos-usuario">
        {{#perfil}}

            <h2 class="nombre-usuarioPerfil-h2">{{nombreUsuario}}</h2>
            <br>
            <img class="img-foto-usuarioPerfil" alt="Imagen perfil" src="/public/images/{{foto}}">
            <br><br>
            <p>Mail: {{mail}}</p>
            <br>
            <p>Puntaje maximo alcanzado: {{puntajeMaximo}}</p>

        {{/perfil}}
    </div>


    <div class="resumen-partidas">
        <h3 class="h3-titulo-patidasJugadas">Partidas jugadas</h3><br>

            <ul>
            {{#partidas}}
                <li>Partida {{indice}} - Puntaje {{puntaje}}</li><br>
            {{/partidas}}
            </ul>
    </div>
</div>
</main>