<div class="child2-header-interno">
    <form action="/usuario/logout" method="POST">
        <input class="boton-cerrar-sesion" type="submit" value="Cerrar sesión">
    </form>
</div>

<div class="vista-editor">
    <form action="/pregunta/showPreguntasSugeridas" method="POST" class="form-editor">
        <button>Ver preguntas sugeridas</button>
    </form>
    <br><br>

    <form action="/pregunta/showPreguntasReportadas" method="POST" class="form-editor">
        <button>Ver preguntas reportadas</button>
    </form>
</div>
