<div class="vista-editor">
    {{#username}}
        <h2 class="bienvenida-editor">Bienvenido/a {{username}}!</h2>
    {{/username}}
    <img class="img-cerebro-editor" style="width: 150px; margin-left: 400px; margin-top: -120px" src="/public/images/cerebro.png">
    <img class="img-reporte-editor" style="width: 100px; margin-left: 540px; margin-top: -150px" src="/public/images/reporte.png">
    <br>
    <form action="/pregunta/showPreguntasSugeridas" method="POST" class="form-editor">
        <button class="boton-editor">Ver preguntas sugeridas</button>
    </form>
    <br><br>
    <form action="/pregunta/showPreguntasReportadas" method="POST" class="form-editor">
        <button class="boton-editor">Ver preguntas reportadas</button>
    </form>
</div>