body {
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.datosPerfil{
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.botonesPerfil{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 10px;
}
.volver, .cerrarSesionBoton, .editarperfilboton{
    background-color: #6a43a3;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

.volver:hover, .cerrarSesionBoton:hover, .editarperfilboton:hover{
    background-color: #503b75;
    text-decoration: none;
}

h2{
    font-size: 40px;
    font-weight: bold;
    background: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet);
    background-size: 500%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: background-position 0.5s ease;
    padding: 1%;
}

h2:hover{
    background-position: 100%;
}



