*{
    box-sizing: border-box;
    margin: auto;
    padding: 0;
}

#form-registro{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.error{
    color: red;
}

.exito{
    color: green;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;

}

