*{
    box-sizing: border-box;
    margin: auto;
    padding: 0;
}
.html{
    height: 100%;
    margin: 0;
}
.body-login, .body-registro, .body-lobby, .body-perfil, .body-partida{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
/****************/
/*ESTILOS HEADER*/
/****************/

.header-externo{
    display: flex;
    flex-direction: row;
    font-size: 32px;
    font-weight: bold;
    color: white;
    gap: 2vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.header-interno{
    display: flex;
    flex-direction: row;
    width: 100vh;
    margin-left: 60vh;
    gap: 60vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.child1-header-interno{
    display: flex;
    flex-direction: row;
    gap: 2vh;
}
.boton-cerrar-sesion {
    background-color: hotpink;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.boton-cerrar-sesion:hover {
    background-color: #f84222;
    color: white;
    transform: scale(1.05);
    text-decoration: none;
    box-shadow: 0 0 10px 3px rgba(239, 169, 215, 0.14);
}

.boton-cerrar-sesion:active {
    background-color: rgba(255, 255, 255, 0.7);
    color: #6A0DAD;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    transform: scale(0.98);
}
.logo-header{
    width: 8vh;
    border-radius: 50%;
    background-color: #ffffff;
}

.title-header{
    font-family: 'Arial', sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: white;
}
/******************/
/*ESTILOS MAIN*/
/******************/
/*para el footer abajo*/
.contenido-main-login .contenido-main-lobby .contenido-main-ranking{
    flex: 1;
}


/******************/
/*ESTILOS REGISTRO*/
/******************/

#form-registro{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.contenedor-crear-cuenta {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 450px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}

.contenedor-crear-cuenta{
    font-family: 'Arial', sans-serif;
    margin-top: 30px;
    font-size: 30px;
}

.titulo-crear-cuenta {
    font-size: 24px;
    font-weight: bold;
    color: #333333;
    text-align: center;
    margin-bottom: 20px;
}

#form-registro .etiqueta-label {
    font-size: 14px;
    color: #666666;
    margin-bottom: 8px;
    margin-top: 5px;
    display: block;
}

#form-registro .input-text-registro,
.input-email-registro,
.input-password-registro,
.input-date-registro,
.select-registro {
    width: 60%;
    padding: 12px;
    margin-bottom: 5px;
    border: 1px solid #cccccc;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 14px;
    background-color: #f9f9f9;
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.1);
}
#form-registro .input-registro:focus,
.select-registro:focus {
    border-color: #6a43a3;
    outline: none;
}
 .boton-crear {
    background-color: #6a43a3;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
    width: 80%;
    transition: background-color 0.3s ease;
     margin-top: 3vh;
}
.boton-crear:hover {
    background-color: #503b75;
}

#form-registro .mapa {
    width: 110%;
    height: 170px;
    background-color: #e0e0e0;
    border-radius: 8px;
    margin-bottom: 20px;
}

.error {
    color: red;
    font-size: 12px;
    /*margin-top: 10px;*/
    margin-bottom: 5px;
    text-align: center;
}
#form-registro .input-file-registro {
    margin-top: 10px;
    margin-bottom: 20px;

}

/***************/
/*ESTILOS LOGIN*/
/***************/

.contenedor-login{
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.titulo-login {
    font-size: 32px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-form .form-label {
    font-size: 14px;
    color: #666;
    text-align: left;
}

.login-form .form-input {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

.login-form .submit-button {
    background-color: #6a43a3;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;

}

.login-form .submit-button:hover {
    background-color: #503b75;
}

.login-form .register-link {
    font-size: 16px;
    color: #6a43a3;
    text-decoration: none;

}

.login-form .register-link:hover {
    text-decoration: underline;
}

.contenedor-login .exito {
    color: green;
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: bold;
    margin-top: 3%;
}

.contenedor-login .error {
    color: red;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
}

/***************/
/*ESTILOS LOBBY*/
/***************/

.body-lobby{
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background: linear-gradient(270deg,
    #4b006e,
    #5a2d7f,
    #885898,
    #711fb3
    );
    background-size: 1500% 1500%;
    animation: animateBackground 20s ease infinite;
}

@keyframes animateBackground {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}



.contenido-main-lobby{
    display: flex;
    flex-direction:column;
}
.bienvenida-lobby{
    margin-bottom: 10vh;
}
.boton-lobby{
    padding: 2vh;
    font-size: 16px;
    font-weight: bold;
    height: calc(5em);
    width: calc(6em);
    color: #503b75;
    background-color: rgba(255, 255, 255, 0.67);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.boton-lobby:hover {
    color: white;
    background-color: #503b75;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    transform: translateY(-2px);
}

.boton-tarjeta{
    padding: 2vh;
    font-size: 16px;
    font-weight: bold;
    height: calc(4em);
    width: calc(10em);
    color: #503b75;
    background-color: rgba(255, 255, 255, 0.67);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}
.boton-tarjeta:hover {
    color: #503b75;
    background-color: #ffffff;
    box-shadow: 0 0 10px 3px rgb(239, 169, 215);
}

.imagen-ranking{
    width: 90px;
    margin-left: 20%;
}

.imagen-pregunta{
    width: 150px;
    margin-left: 10%;
    margin-top: 10px;
}

.imagen-cerebro{
    width: 150px;
    margin-top: 120%;
    margin-left: -12%;
}

.cerebro{
    z-index: -1;
}


.boton-perfil{
    padding: 2vh;
    font-size: 16px;
    font-weight: bold;
    height: calc(2.5em);
    width: calc(6em);
    color: #503b75;
    background-color: rgba(255, 255, 255, 0.67);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.boton-perfil:hover {
    color: #503b75;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.25);
}

.div-botonP{
    margin-left: 87%;
}

.boton-jugar{
    background: linear-gradient(90deg, #f85f22, #cd151b);
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 12px;
    padding: 15px 30px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.boton-jugar:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.8);
}

.boton-jugar:active {
    transform: scale(0.95);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);

}

.boton-nueva-partida{
    margin-left: calc(37%);
    margin-top: calc(-10%);
    margin-bottom: calc(15%);
}


.botones-lobby-child3 {
    margin-left: 7%;

}

.botones-lobby-child1{
    margin-top: calc(-15%);
    margin-bottom: calc(20%);
}

.botones-lobby-child2{
    gap: 50vh;
    margin-top: 10vh;
    margin-bottom: 8vh;
    margin-left: calc(-35%);
}

.boton-puntaje{
    font-family: 'Rubik', sans-serif;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.37);
    border-radius: 50px;
    font-size: 16px;
    width: 270px;
    height: 50px;
    cursor: pointer;
    border: solid 5px hotpink;
    font-weight: bold;
    color: #f8f0d2;
}

.boton-puntaje .img-estrella {
    width: 40px;
    vertical-align: -10px;
    margin-right: 5px;
    margin-left: -10px;
}
.boton-puntaje:hover {
    color:  #503b75;
    background-color: white;
}


.resumen-partidas{
    font-family: 'Rubik', sans-serif;
    text-align: center;
}

.tarjetas-lobby{
    display: flex;
    justify-content: space-around;
    gap: 50%;
    margin-top: calc(-40%);
}


.ranking{
    margin-right: calc(70%);
}



/****************/
/*ESTILOS PERFIL*/
/****************/

.datosPerfil{
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    padding: 40px 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:#6a43a3;
    font-weight: bold;
}
.botonesPerfil{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 10px;
}

.botonesPerfil .cerrarSesionBoton, .editarperfilboton{
    border: none;
    border-radius: 8px;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.37);
    font-weight: bold;
    color: #f8f0d2;
}

.botonesPerfil .cerrarSesionBoton:hover {
    background-color: #503b75;
    text-decoration: none;
}
.volver {
    border: none;
    border-radius: 8px;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;

    margin-top: 10px;
    text-decoration:none;
    background-color: rgba(255, 255, 255, 0.37);
    font-weight: bold;
    color: #f8f0d2;
    margin-bottom: 5vh;
}
.volver:hover {
    color:  #503b75;
    background-color: white;
    box-shadow: 0 0 10px 2px rgba(239, 169, 215, 0.36);
}

.volver{
    display: flex;
    flex-direction: row;
}

a {
    text-decoration: none;
}

.editarperfilboton:hover{
    color:  #503b75;
    background-color: white;
    box-shadow: 0 0 10px 3px rgba(239, 169, 215, 0.18);
}

.h2-perfil .nombreUsuario-perfil{
    font-size: 40px;
    font-weight: bold;
    background: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet);
    background-size: 500%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: background-position 0.5s ease;
    padding: 1%;
}

.h2-perfil .nombreUsuario-perfil:hover{
    background-position: 100%;
}

.datosPerfil .img-perfil{
    width: 90px;
}
.img-perfil{
    height: 90px;
    border-radius: 50%;
}

.txt-cambio-perfil{
    color: green;
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: bold;
}

/***********************/
/*ESTILOS EDITAR PERFIL*/
/***********************/

.datos-contenedor{
    display: flex;
    flex-direction: column;
    font-family: 'Arial', sans-serif;
    background-color: rgba(255, 255, 255, 0.37);
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
    justify-content: center;
}

.datos-contenedor .guardarCambios{
    background-color: hotpink;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: 0 0 10px 3px rgba(64, 56, 61, 0.14);
}

.datos-contenedor .guardarCambios:hover {
    box-shadow: 0 0 10px 3px rgba(239, 169, 215, 0.47);
    background-color: #f84222;
    text-decoration: none;
}

.datos-contenedor{
    width: fit-content;
}

.guardarCambios{
    width: 80%;
}

.datos-contenedor .label-editar-perfil, .img-editar-perfil {
    padding: 2%;
}

.datos-contenedor .input-editar-perfil{
    width: 60%;
    padding: 2%;
    margin-bottom: 2%;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    height: 40px;
}

.select-editar-perfil{
    width: 60%;
    padding: 2%;
    margin-bottom: 2%;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    height: 40px;
}

.input-editar-perfil:focus,
.select-editar-perfil:focus {
    border-color: #6a43a3;
    outline: none;
}

/*****************/
/*ESTILOS PARTIDA*/
/*****************/

.contenedor-partida{
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-lista label{
    display: block;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    transition: background-color 0.3s ease;
    width: 100%;
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.form-lista input{
    display: none;
}

.form-lista label:hover {
    background-color: lightgray;
}

.form-lista input:checked + label {
    background-color: lightgray;
}

.form-lista input[type="radio"]:checked + label.respuesta-correcta {
    border: #3cb13c solid 1px;
    background-color: #a9e6a9;
    background-image: url('images/correcto.png');
    background-repeat: no-repeat;
    background-position: calc(100% - 5px);
}

.form-lista input[type="radio"]:checked + label.respuesta-incorrecta {
    border: #f44336 solid 1px;
    background-color: #f49691;
    background-image: url('images/incorrecto.png');
    background-repeat: no-repeat;
    background-position: calc(100% - 5px);
}

.botonReportarPregunta{
    background-color: hotpink;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
    width: 80%;
    box-shadow: 0 0 10px 3px rgba(239, 169, 215, 0.19);
}

.botonReportarPregunta:hover {
    box-shadow: 0 0 10px 3px rgba(239, 169, 215, 0.32);
    background-color: #f84222;
}


/*****************/
/*ESTILOS RANKING*/
/*****************/

.contenido-ranking-resumenPartidas{
    display:flex;
    flex-direction: row;
    gap: 7em;

}

.partidas-ranking{
    margin-top:0;
}

.resumen-partida{

}
.ranking-titulo {
    font-size: 32px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    margin: 50px 0 20px;
    font-family: 'Arial', sans-serif;
}
.h3-titulo-patidasJugadas-ranking{
    font-size: 32px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    margin: 50px 0 0px;
    font-family: 'Arial', sans-serif;
}

.ranking-contenedor {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.37);
    border-radius: 8px;
    width: 100%;
    max-height: 20em;
    overflow-y: auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
}

.ranking-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 5px;
}

.ranking-nombre-usuario {
    background: none;
    border: none;
    color: #6a43a3;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Arial', sans-serif;
}

.ranking-nombre-usuario:hover {
    text-decoration: none;
    color: #4b3073;
    font-size: 1.21rem;
}

.ranking-posicion {
    width: 20%;
    font-size: 1rem;
    color: #5a5959;
    font-family: 'Arial', sans-serif;
    margin-left: 10px;
}

.ranking-puntaje {
    font-size: 1rem;
    color: #000000;
    font-weight: bold;
    text-align: left;
    margin-bottom: 15px;
}


.ranking-contenedor::-webkit-scrollbar {
    width: 16px;
}

.ranking-contenedor::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 12px;
}

.ranking-contenedor::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 12px;
}

.ranking-contenedor::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/*****************/
/*ESTILOS PERFIL USUARIOS*/
/*****************/
.perfil-usuario {
    display: flex;
    gap: 20px;
}
.datos-usuario1,
.datos-usuario2,
.datos-usuario3 {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.datos-usuario1 {
    align-items: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.37);
    border-radius: 8px;
    width: 20em;
}

.nombre-usuarioPerfil-h2{
    font-size: 35px;
    font-weight: bold;
    background: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet);
    background-size: 500%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: background-position 0.5s ease;
    padding: 1%;
}

.puntaje-perfil{
    display: flex;
    justify-content:  center;
    font-family: 'Rubik', sans-serif;
    background-color: rgba(255, 255, 255, 0.37);
    border-radius: 50px;
    font-size: 1.1em;
    width: 84%;
    padding: 0.7em;
    margin-bottom: 1em;
    border: solid 5px hotpink;
    font-weight: bold;
    color: #f8f0d2;
}

.img-foto-usuarioPerfil{
    border-radius: 50%;
    margin-bottom: 1em;
    max-height: 20em;
}

.datos-usuario2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 500px;
    gap: 1em;
}

.QR-usuarioPerfil,
.mapa-usuarioPerfil {
    flex: 1;
}

.QR-perfil {
    width: 20em;
    height: 15em;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.QR-perfil img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

.mapa-perfil{
    width: 20em;
    height: 15em;
    background-color: rgba(255, 255, 255, 0.37);
    border-radius: 8px;
}

.mapa-perfil{
    width: 26em;
    height: 20em;
}

.datos-usuario3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;
}

.du-contenedor,
.resumen-partidas {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.37);
    border-radius: 8px;
}

.du-contenedor{
    display:flex;
    justify-content: center;
    width: 20em;
    padding:1.2em;
    font-family: 'Arial', sans-serif;
    color: #f4e7e7;
    font-weight: bold;
}

.texto-dato-perfil{
    padding: 0.7em;
}

.h3-titulo-patidasJugadas{
    margin-top:1em;
    font-size: 20px;
    color: white;
}

.resumen-partidas{
    font-family: 'Arial', sans-serif;
    width: 20em;
    max-height: 20em;
    overflow-y: auto;
}
.resumen-partidas::-webkit-scrollbar {
    width: 16px;
}

.resumen-partidas::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 12px;
}

.resumen-partidas::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 12px;
}

.resumen-partidas::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.partidasPerfil{
    color: #ffffff;
}

/*****************/
/*ESTILOS CREAR PREGUNTA*/
/*****************/

.crearPegunta-titulo{
    font-size: 32px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    margin: 50px 0 20px;
    font-family: 'Arial', sans-serif;
}

.form-crear-pregunta {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.37);
    color: rgba(238, 238, 238, 0.74);
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

.form-crear-pregunta label {
    margin-top: 15px;
    font-size: 0.9em;
    color: #ffffff;
}

.form-crear-pregunta input[type="text"],
.form-crear-pregunta select {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #dd2099;
    border-radius: 4px;
    padding: 10px;
    margin-top: 5px;
    width: 100%;
    font-size: 1em;
    transition: border-color 0.3s;
}

.form-crear-pregunta input[type="text"]:focus,
.form-crear-pregunta select:focus {
    border-color: #ffffff;
    outline: none;
}

.form-crear-pregunta .respuesta-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.form-crear-pregunta input[type="radio"] {
    accent-color: #dd2099;
}

.form-crear-pregunta input[type="submit"] {
    background-color: hotpink;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 12px;
    font-size: 1em;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
    box-shadow: 0 0 10px 3px rgba(142, 121, 134, 0.29);
}

.form-crear-pregunta input[type="submit"]:hover {
    background-color: #555;
    background-color: #f84222;
    box-shadow: 0 0 10px 3px rgba(172, 132, 158, 0.34);
}

.form-crear-pregunta input[type="submit"]:active {
    background-color: hotpink;
}

.form-crear-pregunta span{
    color: hotpink;
}
/*****************/
/*ESTILOS VISTA EDITOR*/
/*****************/

.vista-editor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    margin: 0 auto;
    border-radius: 15px;
    width: 90%;
    max-width: 450px;
    text-align: center;
}

.bienvenida-editor {
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 2rem;
    font-family: 'Arial', sans-serif;
}

.form-editor {
    width: 100%;
    margin-bottom: 1.5rem;
}

.boton-editor {
    display: inline-block;
    width: 100%;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: #503b75;
    background-color: rgba(255, 255, 255, 0.67);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 3px 6px rgba(255, 255, 255, 0.29);
}

.boton-editor:hover {
    color: #503b75;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.55);
    transform: translateY(-2px);
}

/*****************/
/*ESTILOS PREGUNTAS SUGERIDAS*/
/*****************/

.titulo-sugeridas {
    font-size: 2em;
    color: white;
    text-align: center;
    margin: 1em 0;
    font-family: Arial, sans-serif;
}

.contenedor-preguntas-sugeridas {
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.13);
    border-radius: 8px;
    width: 90%;
    max-width: 900px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
}

.contenedor-preguntas-sugeridas .aprobar,
.contenedor-preguntas-sugeridas .rechazar {
    padding: 8px 5px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    font-weight: bold;
    color: white;
    cursor: pointer;
    width: 100%;
    margin: 5px 0;
    transition: background-color 0.3s ease;
}

.contenedor-preguntas-sugeridas .aprobar {
    background-color: #30e330;
}

.contenedor-preguntas-sugeridas .aprobar:hover {
    background-color: #1f8c1f;
}

.contenedor-preguntas-sugeridas .rechazar {
    background-color: #f14545;
}

.contenedor-preguntas-sugeridas .rechazar:hover {
    background-color: #c13939;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.37);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

th, td {
    padding: 10px 15px;
    text-align: left;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

th {
    font-size: 1.2em;
    color: #333;
    background-color: #f5f5f5;
    text-align: center;
}

td {
    font-size: 1em;
    color: #111;
}

tr:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    padding: 5px 0;
    font-size: 0.9em;
    color: #000000;
}


/******************************/
/*ESTILOS PREGUNTAS REPORTADAS*/
/*****************************/

.titulo-reportadas {
    font-size: 2em;
    color: white;
    text-align: center;
    margin: 1em 0;
    font-family: Arial, sans-serif;
}

.contenedor-preguntas-reportadas {
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.13);
    border-radius: 8px;
    width: 90%;
    max-width: 900px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    font-family: Arial, sans-serif;
}

.contenedor-preguntas-reportadas .aprobar,
.contenedor-preguntas-reportadas .rechazar {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    font-weight: bold;
    color: white;
    cursor: pointer;
    width: 100%;
    margin: 5px 0;
    transition: background-color 0.3s ease;
}

.contenedor-preguntas-reportadas .aprobar {
    background-color: #30e330;
}

.contenedor-preguntas-reportadas .aprobar:hover {
    background-color: #1f8c1f;
}

.contenedor-preguntas-reportadas .rechazar {
    background-color: #f14545;
}

.contenedor-preguntas-reportadas .rechazar:hover {
    background-color: #c13939;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.37);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

th, td {
    padding: 10px 15px;
    text-align: left;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

th {
    font-size: 1.2em;
    color: #333;
    background-color: #f5f5f5;
    text-align: center;
}

td {
    font-size: 1em;
    color: #111;
}

tr:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
/****************************/
/*ESTILOS REPORTAR PREGUNTA*/
/***************************/
.tituloReportarPregunta{
    font-size: 1.8em;
    font-weight: bold;
    color: white;
    font-family: Arial, sans-serif;
}

.formReportarPregunta{
    font-family: 'Arial', sans-serif;
    background-color: rgba(255, 255, 255, 0.52);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: calc(40em);
    height: calc(20em);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}

.motivoDeReporte{
    font-size: 1.3em;
    font-weight: bold;
    color: #ffffff;
}

.espacioMotivoReporte{
    width: calc(394px);
    height: calc(136px);
    font-size: calc(1em);
}

.botonEnviarReporte {
    background-color: hotpink;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
    width: 40%;
    box-shadow: 0 0 10px 3px rgba(60, 57, 59, 0.42);

}

.botonEnviarReporte:hover {
    box-shadow: 0 0 10px 3px rgba(239, 169, 215, 0.66);
    background-color: #f84222;
}

/******************************/
/*ESTILOS ADMINISTRADOR*/
/*****************************/
.bienvenida-admin {
    text-align: center;
    font-size: 1.8em;
    font-weight: bold;
    color: #000000;
    margin-bottom: 40px;
}

.titulos-administrador {
    font-size: 1.2em;
    color: black;
    font-family: Arial, sans-serif;
}

.subtitulos-administrador {
    font-size: 1em;
    color: black;
    font-family: Arial, sans-serif;
}

.cantidad-administrador {
    font-size: 1.1em;
    font-weight: bold;
    color: black;
    padding-left: calc(2em);
    text-align: center;
    font-family: Arial, sans-serif;
}

.tabla-estadisticas{
    margin-top: calc(3em);
    width: calc(28em);
    height: calc(12em);
    border: solid 1px black;

}


.tabla-estadisticas tr, td, th{
    border: solid 1px black;
}


.filtrosPorFecha {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    color: #503b75;
    background-color: rgba(255, 255, 255, 0.67);
    border-radius: 5px;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    transition: all 0.2s ease;
    background-color: rgba(255, 255, 255, 0.67);
}


.filtrosPorFecha:hover {
    color: #503b75;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.4);
    transform: translateY(-1px);
}

#generarPDF{
    border: none;
}

.filtrosEstadisticas {
    text-align: center;
    margin-top: 20px;
}


.graficos {
    display: block;
    width: 35%;
    height: auto;
    margin: 20px auto;
    border: 2px solid #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.tablaYGrafico {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px 0;
    gap: 20px;
}


#pdfForm {
    text-align: center;
    margin-top: 20px;
}


/*****************/
/*ESTILOS FOOTER*/
/*****************/

.footer {
    display: flex;
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}